<div class="container">
  <a href="/new">新增一筆todo頁面</a>

  <a href="/:id">顯示一筆todo頁面</a>


  <form action="/" method="POST">
    <button type="submit">測試: /POST </button>
  </form>

  <form action="/:id/delete?_method=DELETE" method="POST">
    <button type="submit">測試: /DELETE </button>
  </form>

  <a href="/">回首頁</a>
</div>